*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.cabecera{
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    background: blueviolet;
    justify-content: center;
    align-items: center;
}

.inputNumber{
    height: 30px;
    width: 45px;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.inputButton{
    height: 30px;
    width: 90px;
    border: 2px solid black;
    
    border-radius: 5px; 
}

.centrar{
    display: flex;
    justify-content: center;
}
.grid-container{
    display: inline-grid;
    border: 1px solid black;
    text-align: center;
}
.grid-item{
    border: 1px solid black;
}