

td{
    text-align: center;
    height: 140px;
    width: 140px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}

table{
    border-radius: 5px;
    margin: auto;
    color: white;
    border: 1px solid white;
    margin-top: 40px;
}

.titulo{
    text-align: center;
    color: white;
}
body{
    background-image: url(img/17470.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}