

td{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

table{
    margin: auto;
    color: white;
    border: 3px solid white;
    margin-top: 100px;
}

.titulo{
    text-align: center;
    color: white;
}
body{
    background-image: url(img/17470.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}